html {
    height: 100%;
    width: 100%;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

canvas {
    background-color: black;
    border: 5px solid white;
}